version: '3.7'

services:
  frea:
    build: .
    restart: always
    ports:
      - "127.0.0.1:8000:8000"
    environment:
      - FREA_DEBUG_MODE=false
      #- FREA_PROXY_0=socks5h://127.0.0.1:9050
      - POSTGRES_HOST=dbds
      - POSTGRES_DB=frea
      - POSTGRES_USER=frea
      - POSTGRES_PASSWD=MeaningOfLife
    links:
      - db
    volumes:
      - ./tmp/mecab:/app/mecab
  
  ui:
    image: nexryai/frea-ui:latest
    restart: always
    ports:
      - "127.0.0.1:8080:3000"
    environment:
      - NEXT_TELEMETRY_DISABLED=1
      - API_URL=https://api.freasearch.org

  db:
    restart: always
    image: postgres:15
    environment:
      - POSTGRES_DB=frea
      - POSTGRES_USER=frea
      - POSTGRES_PASSWORD=MeaningOfLife
    volumes:
      - ./tmp/db:/var/lib/postgresql/data

