falcon
uvicorn
requests
tldextract
pyyaml
redis
pygeonlp
feedparser
pyfiglet
dataset
psycopg2

numpy
demoji==1.1.0
mecab-python==1.0.0
scikit-learn==1.1.3
unidic-lite
pandas

certifi
babel
flask-babel
flask
jinja2
lxml
pygments
python-dateutil
httpx[http2]
Brotli
uvloop
httpx-socks[asyncio]
langdetect
setproctitle
markdown-it-py
typing_extensions
