falcon
uvicorn
tldextract
pyyaml
redis
pygeonlp
feedparser
pyfiglet
dataset
psycopg2

certifi
babel
flask-babel
flask
jinja2
lxml
pygments
python-dateutil
httpx[http2]
Brotli
uvloop
httpx-socks[asyncio]
langdetect
setproctitle
markdown-it-py
typing_extensions
