@font-face {
    font-family: Outfit;
    src: url(Outfit-Regular.woff) format('woff');
    font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend,
p,
a,
a:visited,
input,
button,
#q {
    color: white;
    font-family: 'Outfit'
}

html {
    backdrop-filter: blur(18px);
}

html {
    min-height: 100%;
    background: linear-gradient(135deg, #131313, #fff0), url(wall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-tabler-check {
    color: #00d248;
    width: 36px;
    height: 27px;
    vertical-align: bottom;
}

.icon-tabler-login {
    width: 36px;
    height: 27px;
    vertical-align: bottom;
}

.top-logo {
    width: 51px;
    height: 40px;
    vertical-align: bottom;
}

.icon-tabler-tool, .icon-tabler-database, .icon-tabler-zoom-exclamation, .icon-tabler-alert-octagon, .icon-tabler-key {
    width: 36px;
    height: 25px;
    vertical-align: bottom;
}

.log-box {
	  width: 430px;
	  height: 220px;
	  overflow-y: scroll;
	  backdrop-filter: blur(18px);
	  border-radius: 10px;
}

.log-text {
    padding-right: 5px;
    padding-left: 5px;
    color: #c00;
}


.report-text {
    padding-left: 18px;
    padding-right: 18px;
}

.reports-box {
	  width: auto;
	  height: 500px;
	  max-width: 500px;
	  overflow-y: scroll;
	  backdrop-filter: blur(18px);
	  border-radius: 10px;
}

a:hover {
    text-shadow: 0 0 10px #fff,0 0 15px #fff;
}

input {
	background: #fbfbfb33;
	backdrop-filter: blur(18px);
	border: none;
	height: 28px;
	color: white;
	border-radius: 6px;
}

button {
	background: #ffffff26;
	border: none;
	border-radius: 6px;
	height: 28px;
	backdrop-filter: blur(18px);
}

button:hover {
	background: #ffffffa6;
}
