name: Deploy documents

on: [push]

jobs:
  publish:
    runs-on: ubuntu-20.04
    permissions:
      contents: read
      deployments: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: setup python env
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs-material

      - name: mkdocs build
        run: |
           mkdocs build --verbose --clean --strict
      
      - uses: cloudflare/pages-action@1
        with:
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          projectName: frea-dev-docs
          directory: ./public
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          branch: devel
